* {
  box-sizing: border-box;
}

body {
  padding: 40px 0px 0;
  margin: 0;
  background: #1c1f24;
  color: white;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: inherit;

  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-top: 2px solid #af61df;

  box-shadow: 0 4px 62px #db00ff87;
  padding-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%; /* Ширина для центрирования */
}

.App-header h1 {
  color: #61dafb;
  margin: 0;
}

.App-intro {
  color: #61dafb;
  margin: 0;
}

.App-main {
  flex: 1; /* Занимает оставшееся пространство */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.Small-blocks {
  display: flex;
  justify-content: space-between;
  width: 80%; /* Ширина для центрирования */
  margin-bottom: 20px; /* Отступ снизу */
}

.Small-block {
  background-color: #ffffff; /* Белый фон */
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 48%; /* Ширина каждого блока */
  text-align: center;
  background-color: #282b30;
  border-color: #2d2f35;
  color: #f9fc79;
}

.Small-block + .Small-block {
  margin-left: 4%; /* Отступ между блоками */
  background-color: #282b30;
  border-color: #2d2f35;
  color: #00dccf;
}

.score__smallBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score__smallBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score__div {
  padding-top: 5px;
}

.Click-button {
  position: relative;
  padding: 0px;
  background-color: #9f03ff3d;
  border-color: #ca74ff;
  border-width: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  box-shadow: 0 4px 60px #ca74ffac;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.Click-button:hover {
  background-color: #9f03ff3d;
  transform: scale(1.03);
}

.Click-button > img {
  transform: translate(-5px, 10px);
  width: 100%;
}

.Score,
.Level {
  font-size: 16px;
  margin-top: 10px;
  color: #ffffff;
  font-family: sans-serif;
}
.Level {
  color: gray;
}

.Progress-bar-wrapper {
  position: relative;
  width: 80%;
  margin: 20px auto;
}

.Progress-bar-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative; /* Для относительного позиционирования уровня */
}

.Progress-bar {
  height: 20px;
  background: linear-gradient(
    90deg,
    #cb97ec 15.23%,
    #a279fc 34.35%,
    #7996fc 53.05%,
    #79cdfc 68.78%,
    #79e4fc 78.13%,
    #e5fc88 93%
  );
  border-radius: 8px 0 0 8px;
  transition: width 0.3s ease;
}

.Level {
  font-size: 23px; /* Уменьшаем размер текста */
  position: absolute; /* Позиционируем абсолютно */
  top: -50px; /* Располагаем выше Progress bar */
  right: 10px; /* По правому краю */
}

.plus-one {
  position: absolute;
  color: #c8ff00;
  font-size: 35px;
  animation: fadeOut 1s forwards;
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.Footer {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  padding: 0px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  gap: 10px;
  font-family: TT Firs Neue;
}

.Footer-item {
  color: white;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 4px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;

  filter: brightness(0.7);
}

.Footer-active {
  filter: brightness(100);
}


.Footer-icon {
  height: 27px;
  width: auto;
}


.coin__Style {
  padding-top: 3px;
}
