.friends-container {
  max-width: 700px;
  margin: 0;
  position: fixed;
  top: 0;
}

.friens-wrapper h1 {
  font-size: 34px;
}

.friens-wrapper h2 {
  font-size: 14px;
}

.surprase-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.surprase-box1 {
  white-space: nowrap;
  background-color: #282b30;
  font-family: "TT Firs Neue";
  font-size: 14px;
  margin: 15px;
  padding: 26px 155px 52px 84px;
  border-radius: 10px;
  width: 361px;
  height: 92px;
}

.surprase-box2 {
  white-space: nowrap;
  background-color: #282b30;
  font-family: "TT Firs Neue";
  font-size: 14px;
  margin: 15px;
  padding: 26px 12px 52px 83px;
  border-radius: 10px;
  width: 361px;
  height: 92px;
}

.surprase-box1 > img {
  width: 56px;
  height: 56px;
}
