.merch-container {
  max-width: 800px;
  margin: 0 auto;
}

.merch-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.merch-block {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 173px;
  height: 119px;
  text-align: center;
  background-color: #282b30;
  border-color: #2d2f35;
}

@media only screen and (max-width: 600px) {
  .merch-block {
    flex: auto;
    width: 28%;
  }
}
