.App {
  text-align: center;
  padding: 20px;
  background-color: #1C1F24;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%; /* Ширина для центрирования */
}

.App-header h1 {
  color: #61dafb;
  margin: 0;
}

.App-intro {
  color: #61dafb;
  margin: 0;
}

.Small-blocks {
  display: flex;
  justify-content: space-between;
  width: 80%; /* Ширина для центрирования */
  margin-bottom: 20px; /* Отступ снизу */
}

.Small-block {
  background-color: #ffffff; /* Белый фон */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 48%; /* Ширина каждого блока */
  text-align: center;
  background-color: #282B30; 
  border-color: #2D2F35;
  color: #F9FC79;
}

.Small-block + .Small-block {
  margin-left: 4%; /* Отступ между блоками */
  background-color: #282B30; 
  border-color: #2D2F35;
  color: #00DCCF;
}

.Click-button {
  position: relative;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #9F03FF3D;
  border-color: #CA74FF;
  border-radius: 50%; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  box-shadow: 0 4px 32px #d1afaf40;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Click-button:hover {
  background-color: #9F03FF3D;
  transform: scale(1.05);

}

.Score,
.Level {
  font-size: 24px;
  margin-top: 20px;
  color: #FFFFFF;
  font-family: TT Firs Neue;
}
.Level{
  color:gray;
}

.Progress-bar-wrapper {
  position: relative;
  width: 80%;
  margin: 20px auto;
}

.Progress-bar-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative; /* Для относительного позиционирования уровня */
}

.Progress-bar {
  height: 20px;
  background:linear-gradient(90deg, #CB97EC 15.23%, #A279FC 34.35%, #7996FC 53.05%, #79CDFC 68.78%, #79E4FC 78.13%, #E5FC88 93%);
  ;
  border-radius: 8px 0 0 8px;
  transition: width 0.3s ease;
}

.Level {
  font-size: 23px; /* Уменьшаем размер текста */
  position: absolute; /* Позиционируем абсолютно */
  top: -50px; /* Располагаем выше Progress bar */
  right: 10px; /* По правому краю */
}

.plus-one {
  position: absolute;
  color:#c8ff00;
  font-size: 35px;
  animation: fadeOut 1s forwards;
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.Footer {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
}

.Footer-item {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  display: block;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
